.item {
    position: relative;
    max-width: 260px;
    width: 100%;
    display: flex;
    min-height: 100%;
    border-right: 1px solid var(--global-black-10);
    border-bottom: 1px solid var(--global-black-10);
}

.product {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    padding: 15px;
}

.image {
    max-width: 160px;
    align-self: center;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.title {
    margin-top: auto;
    font-size: 1rem;
    font-weight: 400;
}

.price {
    color: var(--global-red);
    font-size: 1em;
    font-weight: 600;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    gap: 10px;
}

.button {
    background-color: transparent;
    white-space: nowrap;
    transition-property: color;
    transition-duration: .3s;

    &:hover {
        color: var(--global-green-80);
    }
}
